<div class="min-h-[calc(100vh-14rem)] bg-slate-50 flex flex-col justify-center items-center px-4 py-16">
  <div class="text-center space-y-4 max-w-md">
    <h1 class="text-6xl font-black text-amber-500">404</h1>
    <h2 class="text-xl font-bold text-slate-800 uppercase tracking-wider">Page Not Found</h2>
    <p class="text-sm text-slate-500 leading-normal font-medium">Looking for something? The web address you entered is not a functioning page on our site.</p>
    <div class="pt-4">
      <a routerLink="/home" class="bg-[#FF9900] hover:bg-[#DF8300] text-white border border-[#E68A00] text-xs font-bold px-6 py-2.5 rounded-lg shadow-sm transition-all">Go to Home Page</a>
    </div>
  </div>
</div>
